@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Exo+2:ital,wght@0,700;1,700&family=Noto+Sans+KR:wght@360&display=swap");


/* 애니메이숀 적용 부분 css */
@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

#imgAni {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  /* 모든 이미지가 부모 컨테이너를 벗어나지 않도록 기본 설정 */
  max-width: 100%; 
  height: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-image {
  animation: rotate 2s linear infinite;
}

/* 헤더 글자 색 */
a {
  text-decoration: none;
  color: rgb(255, 252, 216);
}

/* 페이지 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 폰트 크기 기준을 10px으로 설정 (rem 단위를 쉽게 사용하기 위함) */
  font-size: 10px; 
}

body {
  background-color: #b8b8b8;
}

/* 헤더 배경을 설정 */
header {
  width: 100vw;
  height: 8rem; /* 80px -> 8rem (상대 단위) */
  background-color: #0b4138;
  color: azure;
  font-size: 2rem; /* 20px -> 2rem */
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  display: flex;
  justify-content: center;
}

/* 타이틀, 링크 버튼 글씨 설정 (rem 사용) */
.title {
  color: #f8ab52;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2.3rem; /* 23px -> 2.3rem */
}

.title2 {
  color: #537e61;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem; /* 18px -> 1.8rem */
}

.title3 {
  color: #7e5353;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem; /* 18px -> 1.8rem */

  /* 100px -> 5.2vw (100/1920*100) */
  padding-left: 5.2vw; 
  /* -26px -> -1.35vw (-26/1920*100) */
  margin-top: -1.35vw; 
}

/* 헤더 부분 컨테이너 설정 */
#headerContainer {
  /* 1200px 고정 제거, 최대 너비 설정 */
  width: 90%; 
  max-width: 1200px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav 테그의 사이즈 설정 */
.nav {
  display: flex;
  /* 450px -> 23.4vw (450/1920*100) */
  width: 23.4vw; 
  justify-content: space-between;
}

.nav2 {
  display: flex;
  /* 950px -> 49.5vw (950/1920*100) */
  width: 49.5vw; 
  justify-content: space-between;
  color: #d8d8d7;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.8rem; /* 18px -> 1.8rem */
  list-style: none;
}

.nav li {
  list-style: none;
}

/* 메인 영역을 설정 */
main {
  /* 1920px 고정 제거, 최대 너비 설정으로 유연하게 만듭니다. */
  width: 100%; 
  max-width: 1920px; 
  margin: 0 auto;
}

/* 푸터 설정 */
footer {
  width: 100vw;
  height: 8rem; /* 80px -> 8rem */
  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  /* 340px -> 17.7vw */
  margin-top: 17.7vw; 
}

.row {
  width: 100%;
  display: flex;
}

/* col 영역 설정 (너비가 100%이므로 유지) */
.col-1 {
  width: 100%;
  padding: 0rem;
}

.col-8 {
  width: 100%;
  padding: 0rem;
}

/* 텍스트 요소 설정 (rem, vw 사용) */
#text01 {
  font-family: "Chiron Sung HK", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem; /* 30px -> 3rem */
  color: #575757;
  line-height: 5rem; /* 50px -> 5rem */

  /* 100px -> 5.2vw */
  margin-top: 5.2vw; 
  width: 60%;
}

#text02 {
  font-family: "Chiron Sung HK", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem; /* 30px -> 3rem */
  color: #575757;
  line-height: 5rem; /* 50px -> 5rem */

  /* -350px -> -18.2vw */
  margin-top: -18.2vw; 
  /* 100px -> 5.2vw */
  padding-left: 5.2vw; 
  width: 55%;
}

/* 개별 이미지 설정 - 모든 px/pt를 vw로 변환 (pt는 1.33px로 계산하여 변환) */

.img00 {
  display: flex;
  justify-content: space-evenly;
  align-items: first baseline;
  position: absolute;
  z-index: 1;
  padding-left: 0vw; /* 0pt -> 0vw */
}

.img01 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 1;
  /* 450px -> 23.4vw */
  margin-top: 23.4vw; 
  /* 500pt (약 667px) -> 34.7vw */
  padding-left: 34.7vw; 
}

.img02 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 2;
  /* -500px -> -26.0vw */
  margin-top: -26.0vw; 
  /* 600pt (약 800px) -> 41.6vw */
  padding-left: 41.6vw; 
}

.img03 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  /* 10pt (약 13.3px) -> 0.7vw */
  padding-left: 0.7vw; 
  /* 150px -> 7.8vw */
  padding-top: 7.8vw; 
}

.img03-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  padding-left: 0vw; /* 0pt -> 0vw */
  /* 850px -> 44.3vw */
  padding-top: 44.3vw; 
}

.img03-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  /* 200pt (약 267px) -> 13.9vw */
  padding-left: 13.9vw; 
  /* -700px -> -36.5vw */
  margin-top: -36.5vw; 
}

.img03-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 4;
  padding-left: 0vw; /* 0pt -> 0vw */
  padding-top: 0vw; /* 0px -> 0vw */
}

.img03-4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  /* 550pt (약 733px) -> 38.2vw */
  padding-left: 38.2vw; 
  /* -1000px -> -52.1vw */
  margin-top: -52.1vw; 
}

.img04 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 7;
  /* 700pt (약 933px) -> 48.6vw */
  padding-left: 48.6vw; 
  /* -580px -> -30.2vw */
  margin-top: -30.2vw; 
  width: 90%;
}

.img04-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 7;
  /* 800pt (약 1067px) -> 55.5vw */
  padding-left: 55.5vw; 
  /* -280px -> -14.6vw */
  margin-top: -14.6vw; 
}

.img05 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 6;
  /* 200pt (약 267px) -> 13.9vw */
  padding-left: 13.9vw; 
  top: -5.2vw; /* -100px -> -5.2vw */
  padding-top: 5.2vw; /* 100px -> 5.2vw */
}

.img05-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 6;
  /* 250pt (약 333px) -> 17.3vw */
  padding-left: 17.3vw; 
  top: -5.2vw; /* -100px -> -5.2vw */
  /* 150px -> 7.8vw */
  padding-top: 7.8vw; 
}

.img06 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  padding-left: -0.5vw; /* -10pt (약 -13.3px) -> -0.7vw (보정) */
  /* 477px -> 24.8vw */
  padding-top: 24.8vw; 
}

.img07 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
  /* -800px -> -41.7vw */
  margin-top: -41.7vw; 
  /* 500px -> 26.0vw */
  padding-left: 26.0vw; 
}

.img07-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
  /* -500px -> -26.0vw */
  margin-top: -26.0vw; 
  /* 1050px -> 54.7vw */
  padding-left: 54.7vw; 
}

.img07-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
  /* -500px -> -26.0vw */
  margin-top: -26.0vw; 
  /* 250px -> 13.0vw */
  padding-left: 13.0vw; 
}

.img07-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
  /* -350px -> -18.2vw */
  margin-top: -18.2vw; 
  /* 1350px -> 70.3vw */
  padding-left: 70.3vw; 
}

.img07-4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
  /* -220px -> -11.5vw */
  margin-top: -11.5vw; 
  /* 250px -> 13.0vw */
  padding-left: 13.0vw; 
}

.img07-5 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
  /* -380px -> -19.8vw */
  margin-top: -19.8vw; 
  /* 1420px -> 74.0vw */
  padding-left: 74.0vw; 
}

.img07-6 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
  /* -380px -> -19.8vw */
  margin-top: -19.8vw; 
  /* 680px -> 35.4vw */
  padding-left: 35.4vw; 
}

.img08 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  /* 920px -> 47.9vw */
  padding-top: 47.9vw; 
  padding-left: 0vw; /* 0px -> 0vw */
  /* 1255px -> 65.4vw */
  margin-bottom: 65.4vw; 
}

.img09 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  /* -2040px -> -106.25vw */
  margin-top: -106.25vw; 
  /* 250px -> 13.0vw */
  padding-left: 13.0vw; 
}

.img10 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  /* 255px -> 13.3vw */
  padding-top: 13.3vw; 
  padding-left: 0vw; /* 0px -> 0vw */
  /* 1255px -> 65.4vw */
  margin-bottom: 65.4vw; 
}

.img11 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  /* -2140px -> -111.4vw */
  margin-top: -111.4vw; 
  /* 480px -> 25.0vw */
  padding-left: 25.0vw; 
}

.img12 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
    mask-image: url(img/m1.png);
    mask-position: right 0px top 0px; 
    
  /* -765px -> -39.8vw */
  margin-top: -39.8vw; 
  /* 575px -> 29.9vw */
  padding-left: 29.9vw; 
}

.img13 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  /* -600px -> -31.25vw */
  margin-top: -31.25vw; 
  /* 200px -> 10.4vw */
  padding-left: 10.4vw; 
}

.img14 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  /* -400px -> -20.8vw */
  margin-top: -20.8vw; 
  /* 1400px -> 72.9vw */
  padding-left: 72.9vw; 
}

.img15 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  /* -550px -> -28.6vw */
  margin-top: -28.6vw; 
  /* 810px -> 42.2vw */
  padding-left: 42.2vw; 
}

.img16 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  /* 865px -> 45.0vw */
  padding-top: 45.0vw; 
  padding-left: 0vw; /* 0px -> 0vw */
}

.img17 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  /* -750px -> -39.0vw */
  margin-top: -39.0vw; 
  /* 100px -> 5.2vw */
  margin-bottom: 5.2vw; 
  /* 660px -> 34.4vw */
  padding-left: 34.4vw; 
}

.img18 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  /* -20px -> -1.04vw */
  margin-top: -1.04vw; 
  /* 450px -> 23.4vw */
  padding-left: 23.4vw; 
  /* 60px -> 3.1vw */
  margin-bottom: 3.1vw; 
}

